*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif   ;
}
header{
    padding: 0px;
    height: 600px;
    background-image: url('Ecran.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1255px;
    color: white;
    margin-bottom: 20px;
}
.diver{
    background-color: rgba(0, 0, 0, 0.721);
    padding: 15px;
    height: 600px;
    color: white;
    margin: 0%;
}
/* .aaa{
    color:white;
    text-decoration: none;
    margin-left: ;
    transition: all 0.3s ease;
}
.aaa:hover{
    color: rgb(16, 160, 16);
} */
 .nav-link{
    color: green;
 }
.ulNav{
    margin-left: 55%;
}
.aa:hover{
    color: rgb(16, 160, 16);
}
.navbar-brand{
    margin-left: 0%;
    color: green;
}

.hh1{
    font-size: 50px;
    text-align: center;
    width: 460px;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
    border-right: 3px solid white;
    margin: auto;
    animation: typing 2s steps(19),
               cursor .3s infinite alternate;
}
@keyframes cursor {
    50%{
        border-right: 3px solid green;
    }
}

@keyframes typing {
    from{
        width: 0px;
    }
}
/* .buttons{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    color: green;
    border: 1px solid green;
} */
.pp{
    text-align: center;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* From Uiverse.io by nikk7007 */ 
.buttons {
    padding: 0.8em 1.8em;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
    border-radius: 20px;
    width: 200px;
   }
   
   .buttons::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: black;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .buttons:hover::before {
    width: 105%;
   }
   
   .buttons:hover {
    color: white;
   }

   .about{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    border-right: 2px solid green;
    padding: 5px;
    width: 150px;
   }
   .about2{
    font-family:'Times New Roman', Times, serif;
    border-right: 2px solid green;
    padding: 5px;
   }
   .container{
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
    animation: animate 9s infinite alternate;
}
.bigContainer{
    overflow: hidden;
    width: 100%;
}
.bigContainer::before,.bigContainer::after{
    background: linear-gradient(to right,255,255,255,1),rgba(255, 255, 255, 0);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.bigContainer::before{
    left: 0%;
    top: 0%;
}
.bigContainer::after{
    right: 0%;
    top: 0%;
    transform: rotateZ(180deg);
}

@keyframes animate{
    from{
        transform:translateX(0px);
    }
    to{
        transform:translateX(200px);
    }
}
img{
    width: 100px;
    height: 100px;
    mix-blend-mode: multiply;
}
.imageAbout{
    width: 100%;
    height: 520px;
    border-radius: 10px;
}

/* From Uiverse.io by cssbuttons-io */ 
.buttonAbout {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background-color: rgb(0, 0, 0);
  }
  
  .buttonAbout:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .buttonAbout:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .buttonAbout::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .buttonAbout::after {
    background-color: black;
  }
  
  .buttonAbout:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
.thisCard{
    place-items: center;
}
.btnThis{
    width: 180px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: green;
    padding: 10px;
    transition: all 0.6s ease;

}
.btnThis:hover{
    transform: scale(1.09);
}
.tswira{
    width: 300px;
    height: 200px;
}
.cardProduct{
    border: none;
    width: 300px;
    text-align: center;
    display: flex;
    justify-self: center;
    transition: all 0.6s ease;
}
.cardProduct:hover{
    transform: scale(1.1);
}

label{
    color: rgb(168, 169, 169);
    font-size: 14px;
}
.forms{
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    box-shadow:0 4px 13px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}
input{
    width: 410px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(229, 236, 236, 0.671);
    outline: none;
}
.inpp{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color:  rgba(229, 236, 236, 0.671);
    outline: none;
}
.hContact{
    font-size: 18px;
    width: 150px;
    border-right: 2px solid green;
}
.hContacts{
    font-size: 29px;
    width: 180px;
    border-right: 3px solid green;
}
.btnForms{
    width: 480px;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.paypal{
    border: none;
    padding: 15px;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(237, 243, 243);
    font-size: 20px;
    font-weight: bold;
}
.contactt{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 233, 233, 0.614);
}
.contact1{
    border: none;
    margin-top: 40px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow:0 1px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.7s ease;
}
.footer{
    border: none;
    background-color: black;
    color: white;

}
.footers{
    height: 200px;
}
.afooter{
    color: white;
    text-decoration: none   ;
}

/* From Uiverse.io by cssbuttons-io */ 
.btnfooter {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid white;
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  .btnfooter:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  .btnfooter:hover {
    color: #fff;
  }
  
  .btnfooter:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .btnfooter:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .btnfooter:active:before {
    background: #3a0ca3;
  }
a{
    color: gold;
    margin-left: 30px;
    text-decoration: none;
}
  
